body {
  background-image: url("./assets/josh-appel-NeTPASr-bmQ-unsplash.jpg");
  background-size: cover;
}
header {

  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-style: oblique;
  font-family: sans-serif;
  color: white;
  text-shadow: .1em .1em #404241;
  padding: 3%;
  margin: 3%;
  border-style: solid;
  border-color: white;
  border-width: .3em;
  border-radius: 5px;
  background-color: #748279
}
